.btn-group
  - if user_signed_in?
    = link_to "Decks", decks_path, class: 'btn btn-primary'
    = link_to "Sign out", destroy_user_session_path, class: 'btn btn-secondary', method: :delete
  - elsif request.path != new_user_session_path
    = link_to "Sign in", new_user_session_path, class: 'btn btn-primary'
