- content_for :card_fields do
  %h4.card-title.text-center= card.name
  .card-text.freeform= card.description
- content_for :card_footer do
  - if card.readyable?
    %span= card.presenter.readied_status
  - else
    %span.hidden-md-down &nbsp;
= render template: 'cards/base_card', locals: { card: card }
