- content_for :card_fields do
  %h4.card-title.text-center= card.name
  .card-text.freeform= card.description
- content_for :card_footer do
  %button.btn.btn-primary.discard Discard
  %button.btn.btn-secondary.restore Restore
= render template: 'cards/base_card', locals: { card: card }
