%h1#deck{data: {"initial-hand-size" => @deck.initial_hand_size, "uses_deck" => @deck.uses_deck.to_s, "readyable" => @deck.readyable.to_s}}
  = @deck.name

.row#cards
  = render partial: 'cards/card_actions', collection: @deck.readied_cards.order(:name), as: :card
%br

%button.btn.btn-primary#deal Deal
- if @deck.uses_deck?
  %button.btn#draw Draw
%br
= link_to 'Back', deck_path(@deck)
